<div class="container">
  <div class="row">
    <div class="col">
      <div class="card">
        <div class="card-body bg-light">
          <%= simple_form_for :search, url: root_path, method: "get" do |f| %>
            <div class="row">
              <div class="col-sm">
                <%= f.input :name, required:false, input_html: {value: params.dig(:search, :name)}%>
              </div>
              <div class="col-sm">
                <%= f.input :state, collection:Animal::STATES, selected: params.dig(:search, :state), required:false, include_blank:true %>
              </div>
              <div class="col-sm">
                <%= f.input :category, collection: Animal::CATEGORIES,selected: params.dig(:search, :category), required:false, include_blank: true %>
              </div>
            </div>
            <div class="row">
              <div class="col-sm d-flex justify-content-start">
                <%= link_to 'New Animal', new_animal_path, class: 'btn btn-dark' %>
              </div>
              <div class="col-sm d-flex justify-content-end">
                <%= link_to "Reset", animals_path, class: "btn btn-light" %>
                <%=f.submit 'Search', class: 'btn btn-dark'%>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <table class="table table-hover mt-2 table-clickable">
        <thead class="thead-dark">
          <tr>
            <th scope="col">Name</th>
            <th scope="col">State</th>
            <th scope="col">Category</th>
            <th scope="col">Season</th>
          </tr>
        </thead>
        <tbody>
          <% @animals.each do |animal| %>
            <tr onclick="displayAnimal('<%=animal_path(animal)%>')">
              <td><%=animal.name%></td>
              <td><%=animal.state%></td>
              <td><%=animal.category%></td>
              <td>
                <%= if animal.season_open.present? && animal.season_close.present?
                  animal.season_open.strftime('%b %d %Y') + " - " + animal.season_close.strftime('%b %d %Y')
                end %>
              </td>

            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>

<script>
 function displayAnimal(linkToAnimal) {
   window.location.assign(linkToAnimal);
 }
</script>
